.popular{

    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 30px;
}
.Popular-item{
    
        margin-block: 30px;
        margin-inline: 120px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 20px;
       /* border: 5px solid red; */
   
   
}
.popular hr{
    width: 250px;
    height: 5px;
    border-radius: 15px;
    background-color: black;
}

@media(max-width:1080px){

.popular{
    margin-block: none;
   height: auto;
}

    .Popular-item{
    
        margin-block: 25px;
        margin-inline: 80px;
       display: grid;
       grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
       gap: 10px;
       /* border: 5px solid red; */
   
   
} 


}
@media(max-width:1080px){
    .Popular-item{
    
        margin-block: 25px;
        margin-inline: 80px;
       display: grid;
       grid-template-columns: 1fr 1fr ;
       gap: 40px;
       /* border: 5px solid red; */
   
   
} 
}