.Fotter{
 width: 100%;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 30px;
}
.Logo-img{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.Fotter ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.icons{
    margin-top: 30px;

   
    display: flex;
    gap: 20px;
}
.Fotter hr{
    width: 50%;
    height: 3px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;

}