*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.checkout{
    width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.check{
     width: 60%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 60px;

     gap: 20px;
}

.summary{
    text-align:center;
}