.cart-item{
    margin: 100px 170px;
    /* display: flex; */
}
.cart-item-name{
    display: grid;
    grid-template-columns: 0.7fr 2fr 1fr 1fr 1fr 1fr;
    padding: 0px 10px;
}
.cart-item hr{
    height: 2px;
    background-color: black;
    width: 90%;
    
}
.cart-final-item{
    display: grid;
    grid-template-columns: 0.7fr 2fr 1fr 1fr 1fr 1fr;
    padding: 0px 10px;
    margin: 30px 0px;

}
.p-image{
    width: 50px;
}
.cart-button{
    width: 50px;
    height: 50px;
}
.cart-product-name{
    font-size:15px;
    font-weight: 600px;
}
.cart-delivery{
    width: 100%;
    display: flex;
}
.cart-totals{
    width: 60%;
    margin: 50px 150px;
    

}

.subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.shipping{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.Total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.promo-code{
    width: 40%;
    margin: 50px 150px;
    
    
}
.promo-code input{
    width: 220px;
    height: 50px;
    padding-left: 5px;
    border: none;
    border: 1px solid black;

}
.promo-code button{
    width: 80px;
    height: 50px;
    background-color: black;
    color: white;
    
}
.promo-input{
    margin: 20px 0px;
}
.proceed {
    width: 250px;
    height: 50px;
    background-color: rgb(6, 6, 6);
    border: none;
    transition: all 1s;
    position: relative;
    color: white;
}
/* .proceed:hover{
     width: 270px;
     height: 50px;
} */

.proceed::before {
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    top: 0;
    left: 0;
    height: inherit;
    background-color: rgb(253, 252, 252);
    opacity: 0.5;
    
}
.proceed:hover::before{
    animation: button 1s linear infinite alternate;
}

@keyframes button {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@media(max-width:1080px){
.cart-delivery{
    display: flex;
    flex-direction: column;
}
.promo-input button{
    margin-top: 10px;
}
   
.cart-item hr {
    display: none;
}
.cart-item{
    /* width: 100%; */
    height: 70vh;
    margin: 50px 100px;
   
    display: flex;
   
}
.cart-item-name{
    display: flex;

    flex-direction: column;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}
.cart-final-item{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    
}
.cart-product-name{
    font-size: 7px;
}
.cart-button{
    width: 30px;
    height: 30px;
}
.cart-product-name{
    margin-bottom: 10px;
}
}